[Unit]
Description=Docker Stack container deployer
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
WorkingDirectory=/etc/compose/
Type=oneshot
RemainAfterExit=yes

ExecStartPre=-/usr/local/bin/docker-compose -f prod.yml pull
ExecStart=/usr/bin/docker stack deploy --prune --compose-file prod.yml radiam-full
ExecStop=/usr/bin/docker stack rm radiam-full

ExecStop=/bin/sleep 60
ExecReload=-/usr/local/bin/docker-compose -f prod.yml pull
ExecReload=/usr/bin/docker stack deploy --prune --compose-file prod.yml radiam-full

[Install]
WantedBy=multi-user.target
