[Unit]
Description=Refresh images and update containers
Requires=docker-stack.service
After=docker-stack.service
Restart=on-failure

[Timer]
OnCalendar=*:0/15

[Install]
WantedBy=timers.target
